<script src = "http://husa.github.io/timer.js/dist/timer.js"></script>

<script>
console.log('test');

var pizzaTimer = new Timer({
	tick    : 1
});
var pizzaCookingTime = 3;

pizzaTimer.start(pizzaCookingTime).on('end', function () {
  $('#myModal').modal({ 
  	show: false,		// don't show immediately
  	backdrop: 'static' 	// disable hiding modal when clicking outside
  });
  $('#myModal').modal('show');
});

</script>

<% content_for :about_status do %>
	active
<% end %>

<% content_for :navigation do %>

	<% if @signed_in == true %>
	    <!-- <li class="active"><%= link_to @username, profile_path %></li> -->
	    <li><%= link_to @current_user['username'], profile_path %></li>
        <li><%= link_to 'Logout', user_logout_action_path %></li>
	<% else %>
		<li><%= link_to 'Sign up', user_signup_path %></li>
	<% end %>

<% end %>

<div class = "container">
	
	<div class = "row">
		<center>
			<div class="col-md-6 col-md-offset-3">
				<h3 style = "color:#428bca;">
					We're finding someone for you to play!
				</h3>
				<br><br><br>
				<!-- Spinner.css -->
				<div class="wobblebar-loader"></div>
			</div>


		</center>
	</div>

		<br><br><br><br>
	<!-- Google footer ad -->
	<%= render 'footeradtemplate' %>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <!-- Header -->
      <div class="modal-header">
        <center>
        	<h4 class="modal-title" id="myModalLabel">You're playing Sharat!</h4>
        </center>
      </div>

      <!-- Body -->
      <div class="modal-body">
      		<center>
      			You'll play <strong>3</strong> rounds. Win 2 or more rounds to win the game!
      			<br><br>
      			<h3>Round 1/3</h3>
      			<img src = "https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11850092_444946392362326_1423639661_n.jpg" class = "img-responsive">
      		</center>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <center>
        	<a href = "/map_page/location/<%= @locationId %>" class="btn btn-success btn-lg">Get started</a>
        </center>
      </div>

    </div>
  </div>
</div>
