<% content_for :home_status do %>
	active
<% end %>

<% content_for :navigation do %>

	<% if @signed_in == true %>
	    <!-- <li class="active"><%= link_to @username, profile_path %></li> -->
	    <li><%= link_to @current_user['username'], profile_path %></li>
        <li><%= link_to 'Logout', user_logout_action_path %></li>
	<% else %>
		<li><%= link_to 'Sign up', user_signup_path %></li>
	<% end %>

<% end %>


<!-- Body -->
<div class = "container">

	<!-- Show well if not signed in -->
	<% if @signed_in == false %>
		<div class="well well-sm info">
			<center>
				<span class="glyphicon glyphicon-picture" aria-hidden="true" style="color:#428bca"></span> Get more pictures, save progress, and compete against friends.
				<a href = "/user/signup">
					Sign up here!
				</a>
			</center>
		</div>
	<% end %>
	<!-- End of well -->

	<!-- Tap to guess text -->
	<center style = "margin-bottom: 50px;">
		<h3><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style= "color: #428bca;"></span> &nbsp;Tap to Guess</h3>
	</center>

	<!-- Pictures -->
	<div class = "row">

	  <% @locations.each_with_index do |location, index| %>

	  	<% if index % 3 == 0%>
	  		<div class = "row">
	  		</div>
	  	<% end %>
	  	
		<div class="col-md-4">
			
			<center>
			<a href = "/map_page/location/<%= location['objectId'] %>">
				<img src="<%= location['imageLink'] %>" alt = "Picture hint" class="img-responsive" style = "width:100%">
			</a>
			</center>

			<p style = "color:grey; padding-top:10px;">
				<span class="glyphicon glyphicon-plane" aria-hidden="true" style= "color: #428bca;"></span> <%= location['Fact'] %>
			</p>

			<hr width="50%">
			
			<br><br>
		
		</div>


	  <% end %>

	</div>


<!-- Google ads -->
  <div class = "row">
    <center>

      <% if @device == 'desktop' %>
    
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- First ad unit -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-8276795322536005"
               data-ad-slot="5814616558"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

      <% end %>
      <% if @device == 'mobile' %>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Mobile -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:320px;height:100px"
               data-ad-client="ca-pub-8276795322536005"
               data-ad-slot="8209679755"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

      <% end %>

    </center>
  </div>



</div>
