<!-- Title tag -->
<% content_for :title do %>
  Tap to guess - 
<% end %>

<% content_for :home_status do %>
	active
<% end %>

<% content_for :navigation do %>

	<% if @signed_in == true %>
	    <!-- <li class="active"><%= link_to @username, profile_path %></li> -->
	    <li><%= link_to @current_user['username'], profile_path %></li>
        <li><%= link_to 'Logout', user_logout_action_path %></li>
	<% else %>
		<li><%= link_to 'Sign up', user_signup_path %></li>
	<% end %>

<% end %>


<!-- Body -->
<div class = "container">

	<!-- Show well if not signed in -->
	<% if @signed_in == false %>
		<div class="well well-sm info">
			<center>
				<span class="glyphicon glyphicon-picture" aria-hidden="true" style="color:#428bca"></span> Get more pictures, save progress, and compete against friends.
				<a href = "/user/signup">
					Sign up here!
				</a>
			</center>
		</div>
	<% end %>
	<!-- End of well -->

	<!-- Tap to guess text -->
	<center style = "margin-bottom: 50px;">
			<a class="btn btn-success btn-lg" href="/find-opponent/location/<%= 
			@locations[0]['objectId'] %>">
				Start playing! &raquo;
			</a>
	</center>

	<!-- Pictures -->
	<div class = "row">
	  <% @locations.each_with_index do |location, index| %>

	  	<% if index % 3 == 0%>
	  		<div class = "row">
	  		</div>
	  	<% end %>
	  	
		<div class="col-md-4">
			
			<center>
				<img src="<%= location['imageLink'] %>" alt = "<%= location['Fact'] %>" class="img-responsive" style = "width:100%">
			</center>

			<p style = "color:grey; padding-top:10px;">
				<span class="glyphicon glyphicon-plane" aria-hidden="true" style= "color: #428bca;"></span> <%= location['Fact'] %>
			</p>

			<hr width="50%">
			
			<br><br>
		
		</div>



	  <% end %>

	</div>


<!-- Google footer ad -->
<%= render 'footeradtemplate' %>



</div>
