<script>
	
	$( document ).ready(function() {
    	// Is user signed in?
    	var signed_in = document.getElementById('signed_in').value;
		

		var retrievedObject = localStorage.getItem('localstorage_results');

		if (retrievedObject == null) {}
		else {
			if (signed_in == 'true') {
				array_of_results = JSON.parse(retrievedObject);
				var arrayLength = array_of_results.length;

				// Iterate through localStorage to save items
		        for (var i = 0; i < arrayLength; i++) {
		    		var url_string = "/result_page/location/"+array_of_results[i]['objectId']+"/distance/" + array_of_results[i]['distance'];   

		            // Save result
				    var xhttp = new XMLHttpRequest();
				    xhttp.open("GET", url_string, true);
				    xhttp.send();

		        }

				window.location.href = '/find_challenge_link?objectId0='+array_of_results[0]['objectId']
			}


		}

	});

	



</script>

<!-- Title tag -->
<% content_for :title do %>
  Tap to guess - 
<% end %>

<% content_for :home_status do %>
	active
<% end %>

<% content_for :navigation do %>

	<% if @signed_in == true %>
	    <!-- <li class="active"><%= link_to @username, profile_path %></li> -->
	    <li><%= link_to @current_user['username'], profile_path %></li>
        <li><%= link_to 'Logout', user_logout_action_path %></li>
	<% else %>
		<li><%= link_to 'Sign up', user_signup_path %></li>
	<% end %>

<% end %>


<!-- Body -->
<div class = "container">

<input id = "signed_in" type="hidden" name="signed_in" value="<%= @signed_in %>">

	<!-- Show well if not signed in 
	<% if @signed_in == false %>
		<div class="well well-sm info">
			<center>
				<span class="glyphicon glyphicon-picture" aria-hidden="true" style="color:#428bca"></span> Get more pictures, save progress, and compete against friends.
				<a href = "/user/signup">
					Sign up here!
				</a>
			</center>
		</div>
	<% end %>
	 End of well -->

	<!-- Tap to guess text -->
	<center style = "margin-bottom: 50px;">
			<a class="btn btn-success btn-lg" href="/find-opponent/location/<%= 
			@locations[0]['objectId'] %>">
				Start playing &raquo;
			</a>
	</center>

	<!-- Pictures -->
	<div class = "row">
	  <% @locations.each_with_index do |location, index| %>

	  	<% if index % 3 == 0%>
	  		<div class = "row">
	  		</div>
	  	<% end %>
	  	
		<div class="col-md-4">
			
			<center>
				<img src="<%= location['imageLink'] %>" alt = "<%= location['Fact'] %>" class="img-responsive" style = "width:100%">
			</center>

			<p style = "color:grey; padding-top:10px;">
				<span class="glyphicon glyphicon-plane" aria-hidden="true" style= "color: #428bca;"></span> <%= location['Fact'] %>
			</p>

			<hr width="50%">
			
			<br><br>
		
		</div>



	  <% end %>

	</div>


<!-- Google footer ad -->
<%= render 'footeradtemplate' %>



</div>
