<% content_for :navigation do %>

	<% if @signed_in == true %>
	    <li class="active"><%= link_to @username, profile_path %></li>
        <li><%= link_to 'Logout', user_logout_action_path %></li>
	<% else %>
		<li><a href="user/signup">Sign up</a></li>
	<% end %>

<% end %>

<style>
.img-circle {
    border-radius: 50%;
}
</style>

<div class = "container">

	<div class = "row">
		
		<div class = "col-md-3 col-md-offset-1">
			<center>
				<img src = "https://s-media-cache-ak0.pinimg.com/236x/72/90/5e/72905ee63adb964c0bb7ffe8b3c5db39.jpg" class = "img-responsive img-circle">
			</center>
		</div>

		<div class = "col-md-8">
			<h1>
				<center><%= @username %></center>
			</h1>

			<br>
			<div class = "col-md-4">
				<center>
					<h2 style = "margin-bottom: 30px;"><%= @games_played %><small>&nbsp;Games played</small></h2>
				</center>

			</div>
			<div class = "col-md-4">
				<center>
					<h2 style = "margin-bottom: 30px;"><%= @wins %><small>&nbsp;Wins</small></h2>
				</center>

			</div>

			<div class = "col-md-4">
				<center>
					<h2 style = "margin-bottom: 30px;"><%= @losses %><small>&nbsp;Losses</small></h2>
				</center>

			</div>
		</div>


	</div>

	<hr>

	<h3><span class="glyphicon glyphicon-picture" aria-hidden="true" style= "color: #428bca;"></span> &nbsp;Results</h3>

	<div class = "row" style = "margin-top: 20px;">

	  <% @locations.each_with_index do |location, index| %>

	  	<% if index % 3 == 0%>
	  		<div class = "row">
	  		</div>
	  	<% end %>
	  	
		<div class="col-md-4">
			
			<center>
			<a href = "/map_page/location/<%= location['objectId'] %>">
				<img src="<%= location['imageLink'] %>" alt = "Picture hint" class="img-responsive" style = "width:100%">
			</a>
			</center>

			<p style = "color:grey; padding-top:10px;">
				<span class="glyphicon glyphicon-plane" aria-hidden="true" style= "color: #428bca;"></span> <%= location['Fact'] %>
			</p>

			<hr width="50%">
			
			<br><br>
		
		</div>


	  <% end %>

	</div>

<%= render 'footeradtemplate' %>

</div>