<% content_for :home_status do %>
	active
<% end %>

<% content_for :navigation do %>

	<% if @signed_in == true %>
	    <!-- <li class="active"><%= link_to @username, profile_path %></li> -->
	    <li><%= link_to @current_user['username'], profile_path %></li>
        <li><%= link_to 'Logout', user_logout_action_path %></li>
	<% else %>
		<li><%= link_to 'Sign up', user_signup_path %></li>
	<% end %>

<% end %>

<div class = "container">
	
	<!-- Tap to guess text -->
	<center style = "margin-bottom: 50px;">
		<h3 style = "color:grey;"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style= "color: #428bca;"></span> &nbsp;Tap to Guess</h3>
	</center>

  <div class = "row">

    <!-- Re-show image -->
    <div class="col-md-12">
      <center>
        
        <div class = "image">
          <a href = "/map_page/location/<%= @objectId %>">
          	<img src = "<%= @imageLink %>" class = "img-responsive">
          </a>
        </div>

    	<p style = "color:grey; padding-top:10px;">
			<span class="glyphicon glyphicon-plane" aria-hidden="true" style= "color: #428bca;"></span> <%= @fact %>
		</p>

      </center>
    </div>

  </div>



	<br><br><br><br>
	<!-- Google footer ad -->
	<%= render 'footeradtemplate' %>

</div>

