<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Pinterest domain verification -->
    <meta name="p:domain_verify" content="068db952255956af73811f558adcb0e1"/>

  <title><%= yield :title %>Take the Tent</title>

  <!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap social -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/bootstrap-social/gh-pages/bootstrap-social.css">

    <!-- ToastrCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- Spinner CSS -->
    <link rel="stylesheet" href="http://css-spinners.com/css/spinners.css" type="text/css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="http://www.iconj.com/ico/t/e/tepgegsvcf.ico" type="image/x-icon" />

    <!-- Apple touch icon for different devices -->
    <link rel="apple-touch-icon" href="https://i.imgur.com/btjzzVG.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="https://i.imgur.com/mqp3lk7.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="https://i.imgur.com/dHlejr8.png"/>

    <!-- Enable fullscreen mode for iOS -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->

    <!-- Google Analytics JS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69890107-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>
<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" style = "background-color: white; border: 0px;">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img alt="Brand" src="http://i.imgur.com/btjzzVG.png" class="navbar-brand">
          <a class="navbar-brand" href="/">Take the Tent</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav">
            
            <!-- <li><a href="#about">About</a></li> -->
            <!-- <li><a href="#contact">Blog</a></li> -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li class = "<%= yield :home_status %>"><a href="/">Home</a></li>
              <li class = "<%= yield :about_status %>"><%= link_to 'About', about_path %></li>
              <%= yield :navigation %>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


<%= yield %>


<div class = "container footer" style = "margin-bottom:20px;">
  <hr>
  <footer style = "color:grey;">
      <center>
        <p>Take the Tent</p>
        <p><%= link_to 'About', about_path %>
      </center>
</footer>
</div>


<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyB7T6TNQ4qh7L6FDCvlGYXEsrZgHe8ZqL0&callback=initMap" async defer></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- ToastrJS -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</body>
</html>
